*{
  text-decoration: none;
  list-style: none;
}

#mainContent {
  height: 90vh;
  background: #eccccc;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-autocomplete:hover {
  background-color: blue;
  color: #eccccc;
}