:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* body {
  width: 100vw;
  height: 100vh;
  background: #444444;
  color: var(--bs-white);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
} */

body {
  font-size: 1rem;
  font-weight: 300;
  background-color: #444444;
  /* background-color: #131730; */

  color: var(--bs-white);
}


nav {
  height: 40px;
}

#mainContent {
  width: 100vw;
  height: 100vh;
  background: #2c2a2a;
  margin: 0;
  padding: 0;
}

.listProducts {
  height: 200px;
  display: flex;
  background: #2c2a2a;
  /* color: white; */
}

.listProducts select,
img {
  height: 200px;
}

.image-logo {
  height: 50px;
}

.image-logo img {
  height: 20px;
  width: 30px;
}

.bg-dark-lite {
  background: #444444 !important;
  /* background: #322E59 !important;  */
}

.bg-dark-black {
  background: #000000 !important;
  /* background: #1B183B !important; */

}

.bg-dark-card {
  background: #333 !important;
  /* background: #232044 !important;  */

}
.bg-dark {
  background: #212529 !important; 
  /* background: #131730 !important;  */
}

.fixed-sidebar {
  top: 40px;
  position: sticky;
  z-index: 1030;
}

.fixed-navbar {
  margin-top: 40px;
}

.fixed-modal {
  position: relative;
  z-index: 1055;
  top: 0;
  left: 0;
}


.overlayModal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, .5);
  padding: 20px;
  display: block;
  align-items: center;
  align-content:center;
  justify-content: center;
  overflow-y: scroll;
}

.contenidoModal {
  /* height: 100%; */
  top: 80px;
  bottom: 10px;
  min-height: 100px;
  /* background: #333; */
  /* background: #242640; */
  position: relative;
  /* border-radius: 5px; */
  padding: 20px;
}
/* .closeModal {
  float: right;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .4;
} */