* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

body {
  font-size: 1rem;
  font-weight: 300;
  background-color: #444444;
  color: #5a6169;
}

#main-logo{
  width: 140px;
  height: 50px;
}

#mainContent {
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background: #2c2a2a; */
}

.listProducts {
  height: 200px;
  display: flex;
  /* background: #2c2a2a; */
  /* color: white; */
}

.listProducts select,
img {
  height: 200px;
}

.image-logo{
  height: 50px;
}
.image-logo img{
  height: 20px;
  width: 30px;
}